Projects/**/Release*/
Projects/**/Debug*/
Projects/**/.settings/
AFBR-S50/Documentation/
*.o
*.d
*.elf
*.srec
*.s19
*.map
*.launch
*.mxproject
*.7z
*.zip
*.log
*.tmp
*.smproj
*.diff
*.patch
*.ffs_db
*.dia~
~$*.xlsx
~$*.docx
~$*.xls
~$*.doc
Thumbs.db
