Projects/**/Release*/
Projects/**/Debug*/
Projects/**/.settings/
Projects/**/.secure_azone
Projects/**/.secure_xml
Projects/**/.api_xml
Projects/**/*.mxproject
Projects/**/*.scratch
Projects/**/*.jlink
Projects/**/*.launch

Documentation/

__pycache__/

*.o
*.d
*.bin
*.elf
*.srec
*.s19
*.map
*.exe
*.msi
*.7z
*.zip
*.log
*.tmp
*.diff
*.patch
*.ffs_db
*.smproj
*.dia~
~$*.xlsx
~$*.docx
~$*.xls
~$*.doc
*.launch
*.jlink
Thumbs.db
*.mxproject
*.scratch